* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contaner {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
}
#hero-oun {
  background: #f2f2f2;
}
#hero-pho {
  background: red;
}
